.calloutTitle {
  display: grid;
  grid-template-columns: 175px 1fr;
  gap: calc(var(--gap) /2);
  padding: 0rem var(--gap) calc(var(--gap)/2) var(--gap);
  margin: 0rem var(--gap);
}

.title {
  color: var(--primary-color);
  font-size: xx-large;
  max-width: 20ch;
}
.twocol {
  grid-column: span 2;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  grid-column: span 2;
  gap: var(--gap);
}

.onecol {
  max-width: calc(100% - 15rem - var(--gap));
}

.onecol > p, .twocol > p {
  padding: 0 0 calc(var(--gap)/2) 0;
}